try-import %workspace%/user.bazelrc

common --enable_bzlmod
build --repository_cache=~/.cache/bazel-repo-cache
build --disk_cache=~/.cache/bazel-disk-cache

build --cxxopt="-include" --cxxopt="exception"
build --cxxopt="-include" --cxxopt="ostream"

common --incompatible_enable_proto_toolchain_resolution

build:opt --copt=-O3
